@font-face {
  font-family: "BodoniaModa";
  src: url(../../assets/Font/static/BodoniModa_18pt-Medium.ttf);
}
@font-face {
  font-family: "Cardinal";
  src: url(../../assets/Font/cardinal/Cardinal.ttf);
}
