$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;

$header: rgb(201, 165, 114);
$background: rgb(233, 212, 191);

$BrainFlix-Black: #323232;
$BrainFlix-Blue: #0095ff;
$Silver: #afafaf;
$White: #ffffff;

$BrainFlix-DarkBlack: #000000;
$BrainFlix-DarkBlue: #0065ad;
$Mercury: #e1e1e1;
$Alabaster: #fafafa;

$globalText: #13182c;
$interactiveElements: #2e66e5;
$white: #ffffff;
$tableHeader: #5c667e;
$placeholder: #5c667e;
$oultines: #bdc5d5;
$dividers: #bdc5d5;
$borders: #bdc5d5;
$sortingIcon: #bdc5d5;
$navHeader: #232940;
$buttonHover: #232940;
$pageBackground: #f7f8f9;
$tableHeader-background: #f7f8f9;
$ctaBackground: #f7f8f9;
$inStock: #158463;
$outOfStock: #c94515;
$error: #c94515;
$delete: #c94515;
$desktop-size-extended: 1315px;
$desktop-size: 1280px;
$tablet-size: 768px;
$mobile-size: 320px;
$background-green: rgba(21, 132, 99, 0.07);
$background-red: rgba(201, 69, 21, 0.07);
$space-unit: 0.5rem;
$min-space: 0.25rem;
$small-space: 0.5rem;
$regular-space: 1rem;
$normal-space: 1.5rem;
$medium-space: 2rem;
$max-space: 2.5rem;
$normal-block-sidespace: 0 11.25rem;
$tablet-block-sidespace: 0 1.5rem;
$mobile-block-sidespace: 0 1rem;
$logo-height: 1.6rem;
$logo-width: 7.5rem;
$primary-font: "Titillium", "Fallback";
$weight-regular: 400;
$weight-semi: 600;
$normal-header-font: 2rem;
$normal-subheader-font: 1.5rem;
$normal-label-btn-link-font: 0.875rem;
$normal-table-font: 0.75rem;
$normal-l-body-font: 1rem;
$normal-m-body-font: 0.875rem;
$normal-s-body-font: 0.75rem;
$mobile-header-font: 1.75rem;
$mobile-subheader-font: 1.5rem;
$mobile-label-btn-link-font: 0.8125rem;
$mobile-table-font: 0.6875rem;
$mobile-l-body-font: 0.9375rem;
$mobile-m-body-font: 0.8125rem;
$mobile-s-body-font: 0.6875rem;
$normal-header-line-height: 2.5rem;
$normal-subheader-line-height: 2rem;
$normal-label-btn-link-line-height: 1.375rem;
$normal-table-line-height: 1.125rem;
$normal-l-body-line-height: 1.75rem;
$normal-m-body-line-height: 1.375rem;
$normal-s-body-line-height: 1.125rem;
$mobile-header-line-height: 2.25rem;
$mobile-subheader-line-height: 1.75rem;
$mobile-label-btn-link-line-height: 1.25rem;
$mobile-table-line-height: 1rem;
$mobile-l-body-line-height: 1.625rem;
$mobile-m-body-line-height: 1.25rem;
$mobile-s-body-line-height: 1rem;
$divider: 1px solid $dividers;
